html,body{
	/*max-height: 100%;* -???/
    width: 100%;
	/*max-width: 100%;*/
	font-family: Arial sans-serif;
	color: #c2c2c2;
	background: #f2f0f2;
	overflow-y:visible;
}
input{
	box-sizing: border-box;
}
.search{
	width: 70%;
    padding: 0 70px 0 10px;
    font-weight: 600;
    font-size: 100px;
    border: 1px solid transparent;
    border:none;
    background: transparent;
    color:#ec5a62;
}
button{
	width: 150px;
	background-color: #f2f0f2;
	border: 1px solid transparent;
	border: none;
}
.list{
    border: 1px solid red;
	max-width: 80%;
	max-height: 50%;
	box-sizing: border-box;
}
ul{
	list-style: none;
}
li a{
	text-decoration: none;
	color: #c2c2c2;
}
.people img{
	border-radius: 50px;
}
.people a{
	padding: 10px;
	display: inline-block;
	margin: 5px;
	width: 20%;
	border: 1px solid transparen;
	background: #e5e3e7;
	font-size: 20px;
	vertical-align: center;/*не сработал*/
}

li a:hover{
	color:#ec5a62; 
}
/*span{
	text-align: center;*/
}
/*h2{
   margin: 0px;
   padding: 15px;

}*/
	
	
